.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.minus,
.plus {
  font-size: 9px;
  padding: 10px;
  background-color: #eaeaea;
  border: none;
  cursor: pointer;
}

.count {
  margin: 0 5px;
}

h1 {
  font-size: 16px;
  color: #333;
}